.auth_page{
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/bg2.png');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.auth_page form{
    background: var(--background-color);
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 50px 25px;
    box-shadow: 1px 1px 5px rgb(104, 104, 104);
    
}

.auth_page form .form-control{
    background:var(--background-color);
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    border-radius: "10px";
}

.auth_page form .darkModeSpan{
    border: 1px solid var(--secondary-color);
    height: 40px;
    width: 50px;
    padding: 4px 5px 10px 10px;
    border-radius: 50px;
    margin-top: -20px;
   justify-content: center;
}

.auth_page form .pass{
    position: relative;
}

.auth_page form .pass small{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
}